<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="6.1">
<context-param><param-name>jakarta.faces.PROJECT_STAGE</param-name><param-value>Production</param-value></context-param>
<context-param><param-name>primefaces.THEME</param-name><param-value>saga</param-value></context-param>
<context-param><param-name>primefaces.UPLOADER</param-name><param-value>native</param-value></context-param>
<context-param><param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name><param-value>true</param-value></context-param>
<servlet><servlet-name>Faces Servlet</servlet-name><servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class><load-on-startup>1</load-on-startup><multipart-config><max-file-size>2097152</max-file-size><max-request-size>3145728</max-request-size><file-size-threshold>0</file-size-threshold></multipart-config></servlet>
<servlet-mapping><servlet-name>Faces Servlet</servlet-name><url-pattern>*.xhtml</url-pattern></servlet-mapping>
<welcome-file-list><welcome-file>index.xhtml</welcome-file></welcome-file-list><session-config><session-timeout>30</session-timeout></session-config>
</web-app>
